{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRONE MONITORING SYSTEM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" >
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">DRONE MONITORING SYSTEM</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    
                    {% comment %} < if(!currentUser) { %> {% endcomment %}
                    <a class="nav-link " href="/login">Login</a>
                    <a class="nav-link " href="/signup">Register</a>
                    {% comment %} <} else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    < } %> {% endcomment %}
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>DRONE MONITORING SYSTEM</h1>
            <p class="lead"> Welcome to our DRONE MONITORING SYSTEM site! <br> Control  your drone on our site. <br>
                Monitor its location and get important notifications too on our site!</p>
           
         
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy;DRONE MONITORING SYSTEM </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>